<div class="bot1_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="bot1_title">商务合作</div>
        <ul class="ul1">
          <li><a href="#">景区合作</a></li>
          <li><a href="#">旅行社合作</a></li>
          <li><a href="#">渠道代理</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <div class="bot1_title">关注我们</div>
        <img src="{{url_for('static',filename='base/images/qrcode.jpg')}}" alt="e起去旅行微信公众号" class="img-responsive" height="120px" width="120px">
      </div>
      <div class="col-sm-4">
        <div class="bot1_title">客服中心</div>
        <div class="txt1">客服热线(每天8:30-20:30)</div>
        <div class="phone2">111 111 1111</div>
        <div class="txt1" style="margin-top:10px;">service@eqqlvxing.com</div>
      </div>
    </div>
  </div>
</div>

<div class="bot2_wrapper">
  <div class="container">
    <div class="left_side">
      Copyright &copy; 2007-2021, e起去旅行 版权所有
    </div>
    <div class="right_side">
      <a href="#">隐私政策</a> | <a href="#">用户协议</a> | <a href="#">帮助中心</a>
    </div>
  </div>
</div>

<script src="{{url_for('static',filename='base/js/script.js')}}"></script>
</body>
</html>
<!--底部结束-->
